body {
    margin: 0;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main {
    width: 100%;
}

.imgfirstrow {
    display: flex;
    justify-content: center;
}
.imgsecondrow {
    display: flex;
    justify-content: center;
}

img {
    padding: 30px;
    border-radius: 40px;
}

img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
